* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Agdasima, 'Courier New', monospace;
    color: white;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #222;
}